# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project files/directories
bin 
.project
.classpath
.settings

# Ignore vscode cache directory
.vscode

